.container{
    background-color: grey;
    max-width: 800px;
    margin: 25px;
    display:flex;
    justify-content: space-between;
   
}
.text{
    font-size: 40px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

}
.box{
    background-color: green;
    height: 50px;
    width: 400px;
    margin-left: 15px;
    position: relative;
    
}